* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f8ff; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.envelope-wrapper {
    position: relative;
}

.envelope {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #2E71B3; 
    cursor: pointer;
}


.back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2E71B3;
}


.letter {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 90%;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: all 0.6s ease-in-out;
    z-index: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.letter .text {
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: block;       
    margin-bottom: 15px;
    font-size: 18px;
    
}

.front {
    position: absolute;
    width: 0;
    height: 0;
    z-index: 2;
    border-top: 100px solid transparent;
    border-right: 150px solid #4C8ECB; 
    border-bottom: 100px solid #579EE0; 
    border-left: 150px solid #4C8ECB;
    bottom: 0;
}

.top {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 3;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 100px solid #7BB9F2; 
    transform-origin: top;
    transition: transform 0.6s ease-in-out, z-index 0.2s;
}

.shadow {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 280px;
    height: 20px;
    background: rgba(0,0,0,0.2);
    border-radius: 50%;
    filter: blur(5px);
    z-index: 0;
}

.envelope.open .top {
    transform: rotateX(180deg);
    z-index: 1;
}

.envelope.open .letter {

    transform: translateX(-50%) translateY(-50%) scale(1.8);
    top: 0%; 
    z-index: 10; 
    transition-delay: 0.6s;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3); 
}

.envelope.open .letter .text {
    opacity: 1;
    transition-delay: 1.4s;
}

.controls {
    display: flex;
    gap: 20px;
}

button {
    padding: 10px 30px;
    border: none;
    background-color: #2362A1; 
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transition: background 0.3s, transform 0.1s;
    text-transform: uppercase;
    letter-spacing: 1px;
}

button:hover {
    background-color: #2E71B3;
}

button:active {
    transform: scale(0.95);
}